.columns > div {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 3rem; 
  border: 2px solid var(--accent-color);
  border-radius: 24px;
  transition: 0.3s ease transform;
}

.columns > div:hover{
  transform: scale(1.05);
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 768px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
