footer {
  background-color: var(--blue-color);
  color: var(--dark-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p 
footer .footer a{
  margin: 0;
  display:flex;
  flex-direction: row;
  gap:2rem;
}

footer .footer ul {
  display:flex;
  flex-direction: row;
  gap:1rem;
}

footer .footer ul > li {
  text-decoration: none;
}

@media (width >= 768px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
