footer {
  background-color: var(--blue-color);
  color: var(--dark-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p,
footer .footer a{
  margin: 0;
}

footer .footer ul a{
  text-decoration: none;
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 12px;
}

footer .footer ul a:hover{
  background-color: var(--accent-color2);
}


@media (width >= 768px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
